<%- include('../partials/header') %>
  
     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
         <div class="btn-group mr-2" role="group" aria-label="First group">
           <button type="button" class=""><a href="/players/new">Lets add something</a></button>

         <table id="list" class="table">
           <thead>
             <tr>
              <th>Name</th>
              <th>team</th>
              <th>position</th>
              <th>delete</th>
           </tr>
          </thead>
          <tbody>
         <% players.forEach(function(p) {  %>
           <tr>
            <td><a href="/players/<%= p._id %>"><%= p.name %></a></td>
            <td><%= p.team %></td>         
             <td><%= p.position %></td>
            <td>
              <form action ="/players/delete/<%= p._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete">
            </form>
          </td>
           </tr>
        </tbody>
         <% }) %>
        </table>
      
</body>
</html>